@font-face {
  font-family: 'Klavika Medium';
  src: url("../fonts/klavikamedium-plain-opentype-webfont.eot");
  src: url("../fonts/klavikamedium-plain-opentype-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavikamedium-plain-opentype-webfont.woff2") format("woff2"), url("../fonts/klavikamedium-plain-opentype-webfont.woff") format("woff"), url("../fonts/klavikamedium-plain-opentype-webfont.ttf") format("truetype"), url("../fonts/klavikamedium-plain-opentype-webfont.svg#klavika_mediumplain") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ZurichBT Bold';
  src: url("../fonts/zurich_bt_bold-webfont.eot");
  src: url("../fonts/zurich_bt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/zurich_bt_bold-webfont.woff2") format("woff2"), url("../fonts/zurich_bt_bold-webfont.woff") format("woff"), url("../fonts/zurich_bt_bold-webfont.ttf") format("truetype"), url("../fonts/zurich_bt_bold-webfont.svg#zurich_btbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ZurichBT Roman';
  src: url("../fonts/zurich_bt_roman-webfont.eot");
  src: url("../fonts/zurich_bt_roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/zurich_bt_roman-webfont.woff2") format("woff2"), url("../fonts/zurich_bt_roman-webfont.woff") format("woff"), url("../fonts/zurich_bt_roman-webfont.ttf") format("truetype"), url("../fonts/zurich_bt_roman-webfont.svg#zurich_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }
  @media only screen and (min-width: 0px) and (max-width: 479px) {
    html {
      font-size: 12px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
      font-size: 13px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 15px; } }
  @media only screen and (min-width: 2560px) and (max-width: 4800px) {
    html {
      font-size: 20px; } }

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation; }
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none; }
    a:not([href]):not([tabindex]):focus {
      outline: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

body {
  background: inline("bgi.png") repeat fixed; }

h1 {
  font: 2.125em "Klavika Medium";
  text-transform: uppercase;
  color: #221e1f; }

h3 {
  font: 400 0.875em "Myriad Pro";
  text-transform: uppercase;
  color: #3e3a2f; }

.wrapper {
  width: 990px;
  margin: 0 auto;
  font-size: inherit; }

.page {
  margin-top: 0.91667em;
  margin-left: 1.83333em;
  margin-bottom: 0.58333em;
  font: 400 0.75em "Arial";
  text-shadow: 0.5px 0.9px 0 white;
  color: #14961c; }

#ho_adv {
  display: none !important; }

.main_contauner {
  border: 1px solid gray; }

.header_container:after, main:after {
  content: "";
  display: table;
  clear: both; }

.header_right__pages_navigation ul, .general_navigation ul {
  list-style: none; }

.header_right__pages_navigation li, .general_navigation li {
  display: inline-block; }

.header_container {
  padding-top: 0.625em;
  padding-left: 1.25em; }

.header_left {
  float: left;
  width: 50%;
  padding-top: 1.25em;
  padding-left: 2em;
  background: inline("logo.png") no-repeat;
  background-position: center left; }
  .header_left__motto {
    padding-left: 0.3125em;
    padding-bottom: 0.625em;
    font: 600 0.6875em "Myriad Pro";
    text-transform: uppercase;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    letter-spacing: 1.2px;
    color: #848588; }

.header_right {
  float: right;
  width: 31%;
  text-align: right; }
  .header_right > span {
    font: 400 0.75em "Myriad Pro";
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    color: #585755; }
  .header_right__phone {
    font: 400 1.25em "Myriad Pro";
    color: #373737; }
  .header_right__pages_navigation ul {
    text-align: left; }
  .header_right__pages_navigation li:not(:last-of-type) {
    padding-top: 0.75em;
    padding-right: 0.5em; }
  .header_right__pages {
    font: 600 0.8125em "ZurichBT Roman";
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #28b028; }

.general_navigation {
  margin-top: 1.3125em;
  padding-top: 0.6875em;
  padding-left: 1.5em;
  padding-bottom: 0.6875em;
  background-color: #43ac2d;
  background-image: linear-gradient(to top, #0f941a 0%, #66c13e 100%);
  border: 1px solid #0c932f;
  border-radius: 5px;
  box-shadow: inset 2px 2.2px 0 #81de41; }
  .general_navigation li:not(:last-of-type) {
    padding-right: 3.125em; }
  .general_navigation__link {
    font: 0.9375em "ZurichBT Bold";
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    letter-spacing: -1.3px;
    color: #ffffff; }

main {
  background-color: #ffffff;
  border: 1px solid #e1dbce;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px white; }

.sidebar {
  float: right;
  width: 25%;
  background-color: #f4f1eb;
  border: 1px solid #e0dacd; }

.main_contauner {
  float: left;
  width: 75%;
  padding-top: 1.125em;
  padding-right: 1.125em;
  padding-left: 0.875em; }

.slider_container {
  overflow: hidden; }

.slick img {
  border-radius: 8px; }
