!!! 5
%html{lang:"ru"}

  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title On this site, you can rent an apartment or a house often with
    %link{rel:"shortcut icon", href:"img/favicon.ico", type:"image/x-icon"}
    %link{href:"https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed", rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/vendor.min.css"}
    %link{rel:"stylesheet", href:"css/style.min.css"}

  %body

    .wrapper

        %a{href:"#", id:"back-to-top", title:"Back to top"}
            %span &#9650;

        %nav

        %header.header


        %main


        %footer

    %script{src:"scripts/jquery.min.js"}
    %script{src:"scripts/bootstrap.min.js"}
    %script{src:"scripts/remodal.min.js"}
    %script{src:"scripts/script.min.js"}
