!!! 5
%html{lang:"en"}

  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Site of Tkachenko Artem, Front-end developer
    %link{rel:"shortcut icon", href:"img/favicon.ico", type:"image/x-icon"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto", rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/vendor.min.css"}
    %link{rel:"stylesheet", href:"css/style.min.css"}

  %body

    .wrapper

        %a#back-to-top{href:"#", title:"Back to top"} %p &#9650;

              -#  _____HOME_____

        %section{name:"section__home"}

            -# .home_container_avatar_and_nav
            %figure.home__avatar
                -# %div
                %figcaption %p Artem Tkachenko

            %ul.navigation
                %li
                  %a.main_style{href:"#skills"} Skills
                %li
                  %a.main_style{href:"#portfolio"} Portfolio
                %li
                  %a.main_style{href:"#contacts"} Contacts

            %h1.main_style.main_style--h1 Junior
            %h1.main_style.main_style--h1 Front-end
            %h1.main_style.main_style--h1 developer

              -#  _____SKILLS_____

        %section{name:"section__skills"}
            %a{name:"skills"}
            %h2.main_style.main_style--h2 Skills

            .legend
                %ul
                  %li.practical_knowledge have practical skills
                  %li.theoretical_knowledge have theoretical skills
                  %li.no_knowledge learn now

            %table
                %thead
                  %tr
                    %th Languages
                    %th Preprocessors
                    %th IDE
                    %th OS
                %tr.practical_knowledge
                  %td HTML5
                  %td HAML
                  %td Atom
                  %td Windows 7, 10
                %tr.practical_knowledge
                  %td CSS3
                  %td.theoretical_knowledge Pug.js (jade)
                  %td.theoretical_knowledge Sublime
                  %td Linux
                %tr.practical_knowledge
                  %td JavaScript
                  %td SASS
                  %td Gulp
                  %td
                %tr
                  %td.theoretical_knowledge C/C++
                  %td.no_knowledge CoffeeScript
                  %td.practical_knowledge Webpack
                  %td
                %tr.theoretical_knowledge
                  %td XML
                  %td Less
                  %td Grunt
                  %td

            %table
                %thead
                  %tr
                    %th{colspan:"2"} Libraries and frameworks
                    %th Programs
                    %th Package managers, CMS, other
                %tr.practical_knowledge
                  %td jQuery
                  %td Bootstrap 3
                  %td Adobe Photoshop
                  %td npm
                %tr.practical_knowledge
                  %td Slick.js
                  %td Normalize.css
                  %td GitHub
                  %td Bower
                %tr.practical_knowledge
                  %td Font Awesome
                  %td Bourbon
                  %td SourceTree
                  %td Git
                %tr.practical_knowledge
                  %td Babel.js
                  %td Fontello
                  %td Autocad
                  %td Wordpress
                %tr.practical_knowledge
                  %td.theoretical_knowledge jQweryUI
                  %td.theoretical_knowledge Underscore.js
                  %td Lightroom
                  %td Codepen
                %tr.theoretical_knowledge
                  %td FlipClock.js
                  %td Remodal.js
                  %td
                  %td MongoDB
                %tr
                  %td.no_knowledge Node.js
                  %td.no_knowledge React
                  %td
                  %td.theoretical_knowledge JSON
                %tr
                  %td.no_knowledge Orna.js
                  %td.no_knowledge ReactiveX
                  %td
                  %td.theoretical_knowledge AJAX
                %tr
                  %td.no_knowledge RIOT.js
                  %td
                  %td
                  %td


            .section__image_skills
                %a{href:"https://atom.io/", target:"_blank", data-img:"atom"}
                %a{href:"http://webpack.github.io/", target:"_blank", data-img:"webpack"}
                %a{href:"https://www.sourcetreeapp.com/", target:"_blank", data-img:"SourceTree"}
                %a{href:"http://gulpjs.com/", target:"_blank", data-img:"gulp"}
                %a.wide{href:"http://codepen.io/", target:"_blank", data-img:"codepen"}
                %a{href:"https://git-scm.com/", target:"_blank", data-img:"git"}
                %a.wide{href:"https://www.npmjs.com/", target:"_blank", data-img:"npm"}
                %a{href:"http://sass-lang.com/", target:"_blank", data-img:"sass"}
                %a{href:"https://github.com/", target:"_blank", data-img:"github"}
                %a{href:"http://www.w3schools.com/css/css3_intro.asp", target:"_blank", data-img:"css3"}
                %a{href:"http://www.w3schools.com/html/default.asp", target:"_blank", data-img:"html5"}
                %a{href:"http://www.w3schools.com/js/default.asp", target:"_blank", data-img:"javascript"}
                %a{href:"http://getbootstrap.com/", target:"_blank", data-img:"bootstrap"}
                %a{href:"https://bower.io/", target:"_blank", data-img:"bower"}
                %a.wide{href:"http://fontawesome.io/", target:"_blank", data-img:"fontawesome"}
                %a{href:"http://kenwheeler.github.io/slick/", target:"_blank", data-img:"slick"}
                %a{href:"https://necolas.github.io/normalize.css/", target:"_blank", data-img:"normalizecss"}
                %a.wide{href:"http://bourbon.io/docs/", target:"_blank", data-img:"bourbon"}
                %a.wide{href:"http://haml.info/", target:"_blank", data-img:"haml"}
                %a{href:"http://www.json.org/", target:"_blank", data-img:"JSON"}
                %a.wide{href:"http://www.w3schools.com/ajax/", target:"_blank", data-img:"AJAX"}
                %a.wide{href:"http://underscorejs.org/", target:"_blank", data-img:"underscore"}
                %a{href:"http://www.w3schools.com/xml/", target:"_blank", data-img:"XML"}
                %a.wide{href:"https://www.mongodb.com/", target:"_blank", data-img:"MongoDB"}
                %a{href:"https://www.adobe.com/products/photoshop-lightroom.html?promoid=KLXLX", target:"_blank", data-img:"Lightroom"}
                %a{href:"https://www.adobe.com/products/photoshop.html?promoid=KLXLS", target:"_blank", data-img:"AdobePhotoshop"}
                %a{href:"https://wordpress.org/", target:"_blank", data-img:"wordpress"}
                %a.wide{href:"http://www.autodesk.ru/products/autocad/overview", target:"_blank", data-img:"autocad"}
                %a.wide{href:"https://babeljs.io/", target:"_blank", data-img:"babel"}
                %a{href:"https://jquery.com/", target:"_blank", data-img:"jquery"}
                %a.wide{href:"http://fontello.com/", target:"_blank", data-img:"fontello"}
                %a.wide{href:"http://flipclockjs.com/", target:"_blank", data-img:"FlipClock"}
                %a.wide{href:"http://vodkabears.github.io/remodal/", target:"_blank", data-img:"remodal"}
                %a{href:"http://reactivex.io/", target:"_blank", data-img:"rx"}
                %a.wide{href:"http://riotjs.com/", target:"_blank", data-img:"riot"}
                %a.wide{href:"http://coffeescript.org/", target:"_blank", data-img:"cs"}
                %a.wide{href:"https://ornaorg.github.io/", target:"_blank", data-img:"ornanajs"}

              -#  _____PORTFOLIO_____

        %section{name:"section__portfolio"}
            %a{name:"portfolio"}
            %h2.main_style.main_style--h2 Portfolio

            .cite_container
                %h3.main_style My sites:
                %figure.portfolio
                    %a{href:"http://tkachenko.ho.ua/01_Gastronymous/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"Gastronymous"}
                    %figcaption.portfolio__caption
                        %h3 Gastronymous
                        %p em + media-queries. Source code: HTML + Sass. Packet managers: npm и bower. Build system automating tasks: Gulp. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/01_Gastronymous.png" download> Download PNG
                            %span.icon_container
                                %i.icon_download
                        </a>

                %figure.portfolio
                    %a{href:"http://tkachenko.ho.ua/02_LusidTheme/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Click and go to this progect!"} %img{data-cite:"LusidTheme"}
                    %figcaption.portfolio__caption
                        %h3 Lusid Theme
                        %p % + media-queries. Source code: HTML + Sass. Packet manager: npm. Build system automating tasks: Gulp. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/02_LusidTheme.png" download> Download PNG
                            %span.icon_container
                                %i.icon_download
                        </a>
                %figure.portfolio
                    %a{href:"http://tkachenko.ho.ua/03_LaCasa/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"LaCasa"}
                    %figcaption.portfolio__caption
                        %h3 La Casa
                        %p em + media-queries. Source code: HTML + Sass. Packet manager: npm. Build system automating tasks: Gulp. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/03_LaCasa.png" download> Download PNG
                            %span.icon_container
                                %i.icon_download
                        </a>

                %figure.portfolio{style:"display:none"}
                    %a{href:"http://tkachenko.ho.ua/06_Ikaros/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"Ikaros"}
                    %figcaption.portfolio__caption
                        %h3 Ikaros
                        %p em + media-queries. Source code: HAML + Sass. Packet manager: npm. Build system automating tasks: Gulp. PerfectPixel.

                %figure.portfolio{style:"display:none"}
                    %a{href:"http://tkachenko.ho.ua/04_Magazine_Blog/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"MagBlog"}
                    %figcaption.portfolio__caption
                        %h3 Magazine Blog
                        %p em + media-queries. Source code: HAML + Sass. Performed using Flexbox. Packet manager: npm. Build system automating tasks: Gulp. PerfectPixel.

                %figure.portfolio{style:"display:none"}
                    %a{href:"http://tkachenko.ho.ua/07_MediaGrupPortfolio/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"MediaGrup"}
                    %figcaption.portfolio__caption
                        %h3 MediaGrup Portfolio
                        %p Bootstrap. Source code: HAML + Sass. Packet manager: npm. Build system automating tasks: Gulp. PerfectPixel.

                %figure.portfolio{style:"display:none"}
                    %a{href:"http://tkachenko.ho.ua/05_FlatStyleWebsite/index.min.html", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this progect!"} %img{data-cite:"Flat"}
                    %figcaption.portfolio__caption
                        %h3 FlatStyleWebsite
                        %p em + media-queries. Source code: HAML + Sass. Packet manager: npm. Build system automating tasks: Webpack.

            .codepen_container
                %h3.main_style My works on Codepen:

              .codepen_container
                .codepen_container__annotation
                    %h4 1. React
                    %p I learn it now!
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="YGXjLZ" data-default-tab="result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/YGXjLZ/">React</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 2. E-mail
                    %p This project is implemented imposition e-mail using the preprocessor HAML.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="kXQqyX" data-default-tab="html,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/kXQqyX/">HAML-email</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 3. JavaScript. Events
                    %p This project shows how to work out the events by clicking on event.target.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="JKVpQq" data-default-tab="html,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/JKVpQq/">JS-events</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 4. CSS. display: grid
                    %p The experimental technology not included in the official specification.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="OXqxxb" data-default-tab="css,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/OXqxxb/">CSS -gridLayout</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 5. Phonebook
                    %p In this project, it implements a simple phone book to save the contact in localStorage. Functionality: checking the validity of input data, sorting and deleting.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="LkvdYP" data-default-tab="js,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/LkvdYP/">JS-phonebook</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 6. OrnaJS
                    %p I learn it now!
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="vXOVpG" data-default-tab="css,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/vXOVpG/">OrnaJS</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              -#  _____CONTACTS_____

        %section{name:"section__contacts"}
            %a{name:"contacts"}
            %h2.main_style.main_style--h2 Contacts

          .contacts.center
              %p.main_style E-mail:
                  %a.contacts__link.main_style{href:"mailto:igrfy87@gmail.com"} igrfy87@gmail.com
              %p.main_style Skype:
                  %span.contacts__link.main_style a.tkachenko177
              %p.main_style Viber:
                  %span.contacts__link.main_style +380688891260
              %a.main_style.main_style--contacts{href:"http://codepen.io/Tkachenko/", target:"_blank",  data-toggle:"tooltip", data-placement:"top", data-original-title:"Click and go to my profile in Codepen!"} Codepen:
                  %span.contacts__link.main_style http://codepen.io/Tkachenko/
              %a.main_style.main_style--contacts{href:"https://github.com/TkachenkoArtem/", target:"_blank",  data-toggle:"tooltip", data-placement:"top", data-original-title:"Click and go to my profile in GitHub!"} Github:
                  %span.contacts__link.main_style https://github.com/TkachenkoArtem/
              %a.main_style.main_style--contacts{href:"https://www.linkedin.com/in/artem-tkachenko-17b547128?trk=hp-identity-name", target:"_blank",  data-toggle:"tooltip", data-placement:"top", data-original-title:"Click and go to my profile in LinkedIn!"} Linkedin:
                  %span.contacts__link.main_style https://www.linkedin.com/in/artem-tkachenko

    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity:"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin:"anonymous"}
    %script{src:"scripts/script.min.js"}
