!!! 5
%html{lang:"en"}

  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Site of Tkachenko Artem, Front-end developer
    %link{rel:"shortcut icon", href:"img/favicon.ico", type:"image/x-icon"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto", rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/vendor.min.css"}
    %link{rel:"stylesheet", href:"css/style.min.css"}

  %body

    .wrapper

        %a#back-to-top.fa.fa-arrow-up{href:"#", title:"Back to top"}

              -#  _____HOME_____

        %section{name:"section__home"}
            %a{name:"home"}
            .home__avatar

            %ul.home__nav
              %li
                %a.elegantshadow{href:"#aboutMe"} About me
              %li
                %a.elegantshadow{href:"#portfolio"} Portfolio
              %li
                %a.elegantshadow{href:"#contacts"} Contacts

            .center
                %h1.elegantshadow Junior Front-end developer

              -#  _____ABOUT ME_____

        %section{name:"section__aboutMe"}
            %a{name:"aboutMe"}
            %h2.elegantshadow About me

            %p.elegantshadow.aboutme Have practical skills in:
                .aboutme__container
                  	%a{href:"https://atom.io/", target:"_blank"} %img{src:"img/Atom-logo.png", alt="atom"}
                  	%a{href:"https://www.sourcetreeapp.com/", target:"_blank"} %img{src:"img/SourceTree-logo.png", alt="atom"}
                  	%a{href:"http://gulpjs.com/", target:"_blank"} %img{src:"img/gulp-logo.png", alt="gulpjs"}
                  	%a{href:"http://codepen.io/", target:"_blank"} %img{src:"img/codepen-logo.png", alt="codepen"}
                  	%a{href:"https://git-scm.com/", target:"_blank"} %img{src:"img/git-logo.png", alt="git"}
                  	%a{href:"https://www.npmjs.com/", target:"_blank"} %img{src:"img/npm-logo.png", alt="npm"}
                  	%a{href:"http://sass-lang.com/", target:"_blank"} %img{src:"img/sass-logo.png", alt="sass"}
                  	%a{href:"https://github.com/", target:"_blank"} %img{src:"img/githab-logo.png", alt="github"}
                    %a{href:"http://www.w3schools.com/css/css3_intro.asp", target:"_blank"} %img{src:"img/css3-logo.png", alt="css3"}
                    %a{href:"http://www.w3schools.com/html/default.asp", target:"_blank"} %img{src:"img/html5-logo.png", alt="html5"}
                    %a{href:"http://www.w3schools.com/js/default.asp", target:"_blank"} %img{src:"img/javascript-logo.png", alt="JS"}
                    %a{href:"http://getbootstrap.com/", target:"_blank"} %img{src:"img/bootstrap-logo.png", alt="bootstrap"}
                    %a{href:"https://bower.io/", target:"_blank"} %img{src:"img/bower-logo.png", alt="bower"}
                    %a{href:"http://fontawesome.io/", target:"_blank"} %img{src:"img/fontawesome.png", alt="fontawesome"}
                    %a{href:"http://kenwheeler.github.io/slick/", target:"_blank"} %img{src:"img/slick-logo.png", alt="slick"}
                    %a{href:"https://necolas.github.io/normalize.css/", target:"_blank"} %img{src:"img/normalizecss-logo.png", alt="normalize.css"}
                    %a{href:"http://bourbon.io/docs/", target:"_blank"} %img{src:"img/bourbon-logo.png", alt="bourbon"}
                    %a{href:"http://haml.info/", target:"_blank"} %img{src:"img/haml-logo.png", alt="haml"}

            %p.elegantshadow.aboutme Have theoretical skills in:
                .aboutme__container
                    %a{href:"http://www.json.org/", target:"_blank"} %img{src:"img/JSON-logo.png", alt="json"}
                    %a{href:"http://www.w3schools.com/ajax/", target:"_blank"} %img{src:"img/AJAX-logo.png", alt="ajax"}
                    %a{href:"http://underscorejs.org/", target:"_blank"} %img{src:"img/underscore-logo.png", alt="underscore.js"}
                    %a{href:"http://www.w3schools.com/xml/", target:"_blank"} %img{src:"img/XML-logo.png", alt="xml"}
                    %a{href:"https://www.mongodb.com/", target:"_blank"} %img{src:"img/MongoDB-logo.png", alt="mongodb"}
                    %a{href:"https://www.adobe.com/products/photoshop-lightroom.html?promoid=KLXLX", target:"_blank"} %img{src:"img/Lightroom-logo.png", alt="Lightroom"}
                    %a{href:"https://www.adobe.com/products/photoshop.html?promoid=KLXLS", target:"_blank"} %img{src:"img/AdobePhotoshop-logo.png", alt="Photoshop"}
                    %a{href:"http://jade-lang.com/", target:"_blank"} %img{src:"img/jade-logo.png", alt="jade"}
                    %a{href:"https://wordpress.org/", target:"_blank"} %img{src:"img/wordpress-logo.png", alt="wordpress"}
                    %a{href:"http://www.autodesk.ru/products/autocad/overview", target:"_blank"} %img{src:"img/autocad-logo.png", alt="autocad"}
                    %a{href:"https://babeljs.io/", target:"_blank"} %img{src:"img/babel-logo.png", alt="babel.js"}
                    %a{href:"https://jquery.com/", target:"_blank"} %img{src:"img/jquery-logo.png", alt="jquery"}
                    %a{href:"http://fontello.com/", target:"_blank"} %img{src:"img/fontello-logo.png", alt="fontello"}
                    %a{href:"http://flipclockjs.com/", target:"_blank"} %img{src:"img/FlipClock.js-logo.png", alt="FlipClock.js"}
                    %a{href:"http://vodkabears.github.io/remodal/", target:"_blank"} %img{src:"img/remodal-logo.png", alt="Remodal.js"}

            %p.elegantshadow.aboutme Now I learn:
                .aboutme__container
                    %a{href:"http://riotjs.com/", target:"_blank"} %img{src:"img/riot-logo.png", alt="riotjs"}
                    %a{href:"http://coffeescript.org/", target:"_blank"} %img{src:"img/cs-logo.png", alt="coffescript"}
                    %a{href:"https://nodejs.org/en/", target:"_blank"} %img{src:"img/nodejs-logo.png", alt="nodejs"}
                    %a{href:"http://backbonejs.org/", target:"_blank"} %img{src:"img/BackboneJS_logo.png", alt="backbonejs"}

              -#  _____PORTFOLIO_____

        %section{name:"section__portfolio"}
            %a{name:"portfolio"}
            %h2.elegantshadow Portfolio

            %figure.portfolio
                %iframe.portfolio__iframe{src:"http://tkachenko.ho.ua/01_Gastronymous/index.min.html", scrolling:"auto"} Ваш браузер не поддерживает встроенные фреймы!
                %figcaption.portfolio__caption
                    %h3 Gastronymous
                    %p em + media-queries. Исходник: HTML + Sass. Сборка проекта: Gulp.
            %figure.portfolio
                %iframe.portfolio__iframe{src:"http://tkachenko.ho.ua/02_LusidTheme/index.min.html", scrolling:"auto"} Ваш браузер не поддерживает встроенные фреймы!
                %figcaption.portfolio__caption
                    %h3 Lusid Theme
                    %p % + media-queries. Исходник: HTML + Sass. Сборка проекта: Gulp.
            %figure.portfolio
                %iframe.portfolio__iframe{src:"http://tkachenko.ho.ua/03_LaCasa/index.min.html", scrolling:"auto"} Ваш браузер не поддерживает встроенные фреймы!
                %figcaption.portfolio__caption
                    %h3 La Casa
                    %p em + media-queries. Исходник: HTML + Sass. Сборка проекта: Gulp.
            %figure.portfolio
                %iframe.portfolio__iframe{src:"", scrolling:"auto"} Ваш браузер не поддерживает встроенные фреймы!
                %figcaption.portfolio__caption
                    %h3 Ikaros
                    %p em + media-queries. Исходник: HAML + Sass. Сборка проекта: Gulp.

              -#  _____CONTACTS_____

        %section{name:"section__contacts"}
            %a{name:"contacts"}
            %h2.elegantshadow Contacts

          .contacts.center
              %p.elegantshadow E-mail:
                  %a.contacts__link.elegantshadow{href:"mailto:igrfy87@gmail.com"} igrfy87@gmail.com
              %p.elegantshadow Skype:
                  %span.contacts__link.elegantshadow a.tkachenko177
              %p.elegantshadow Viber:
                  %span.contacts__link.elegantshadow +380688891260
              %a.elegantshadow.elegantshadow--contacts{href:"http://codepen.io/Tkachenko/", target:"_blank"} Codepen:
                  %span.contacts__link.elegantshadow http://codepen.io/Tkachenko/
              %a.elegantshadow.elegantshadow--contacts{href:"https://github.com/TkachenkoArtem/", target:"_blank"} Github:
                  %span.contacts__link.elegantshadow https://github.com/TkachenkoArtem/

    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{src:"scripts/script.min.js"}
