!!! 5
%html{lang:"en"}

  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Site of Tkachenko Artem, Front-end developer
    %link{rel:"shortcut icon", href:"img/favicon.ico", type:"image/x-icon"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto", rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/vendor.min.css"}
    %link{rel:"stylesheet", href:"css/style.min.css"}

  %body

    .wrapper

        %ul.right_bar
            %li
              %a.jsGoTo{href:".home",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Home"} &#8962;
            %li
              %a.jsGoTo{href:".skills",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Skills"} &#9000;
            %li
              %a.jsGoTo{href:".portfolio",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Portfolio"} &#9999;
            %li
              %a.jsGoTo{href:".contacts",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Contacts"} &#9993;


              -#  _____HOME_____

        %section.home

            %nav
              .home__avatar
              %p.home__about_me
                  %b Hello!
                  I'm Artem Tkachenko. Now I am a Junior Front-end developer. I like to code on JavaScript cause it is versatile, flexible and effective language used in various spheres of activity. I'm intended to learn Dart and become JavaScript Full Stack Developer (React + Node.js)

            .home__navigation
                %a.jsGoTo{href:".skills"}
                    %p
                        %span &#9000;
                        %strong &nbsp;Skills
                    %br
                    %p my technology
                %a.jsGoTo{href:".portfolio"}
                    %p
                        %span &#9999;
                        %strong &nbsp;Portfolio
                    %br
                    %p my works
                %a.jsGoTo{href:".contacts"}
                    %p
                        %span &#9993;
                        %strong &nbsp;Contacts
                    %br
                    %p contact with me


              -#  _____SKILLS_____

        %section.skills

            %h2 Skills

            %ul.legend
                %li.c_e have commercial experience
                %li.p_k have practical skills
                %li.t_k have theoretical skills

            .skills__logos
                %a.commercial_experience{href:"http://www.w3schools.com/js/default.asp", target:"_blank", data-img:"javascript"}
                %a.theoretical_knowledge{href:"https://www.php.net/", target:"_blank", data-img:"php"}
                %a.wide.practical_knowledge{href:"https://isocpp.org/", target:"_blank", data-img:"c"}
                %a.commercial_experience{href:"http://www.w3schools.com/html/default.asp", target:"_blank", data-img:"html5"}
                %a.commercial_experience{href:"http://www.w3schools.com/css/css3_intro.asp", target:"_blank", data-img:"css3"}
                %a.wide.commercial_experience{href:"http://haml.info/", target:"_blank", data-img:"haml"}
                %a.commercial_experience{href:"http://sass-lang.com/", target:"_blank", data-img:"sass"}
                %a.wide.theoretical_knowledge{href:"http://coffeescript.org/", target:"_blank", data-img:"cs"}
                %a.wide.practical_knowledge{href:"http://bourbon.io/docs/", target:"_blank", data-img:"bourbon"}
                %a.commercial_experience{href:"https://jquery.com/", target:"_blank", data-img:"jquery"}
                %a.theoretical_knowledge{href:"http://getbootstrap.com/", target:"_blank", data-img:"bootstrap"}
                %a.wide.theoretical_knowledge{href:"https://babeljs.io/", target:"_blank", data-img:"babel"}
                %a.wide.theoretical_knowledge{href:"http://underscorejs.org/", target:"_blank", data-img:"underscore"}
                %a.practical_knowledge{href:"https://necolas.github.io/normalize.css/", target:"_blank", data-img:"normalizecss"}
                %a.theoretical_knowledge{href:"http://webpack.github.io/", target:"_blank", data-img:"webpack"}
                %a.practical_knowledge{href:"http://gulpjs.com/", target:"_blank", data-img:"gulp"}
                %a.practical_knowledge{href:"https://git-scm.com/", target:"_blank", data-img:"git"}
                %a.wide.practical_knowledge{href:"https://www.npmjs.com/", target:"_blank", data-img:"npm"}
                %a.practical_knowledge{href:"https://github.com/", target:"_blank", data-img:"github"}
                %a.wide.practical_knowledge{href:"http://fontawesome.io/", target:"_blank", data-img:"fontawesome"}
                %a.theoretical_knowledge{href:"http://www.w3schools.com/xml/", target:"_blank", data-img:"XML"}
                %a.practical_knowledge{href:"http://www.json.org/", target:"_blank", data-img:"JSON"}
                %a.wide.theoretical_knowledge{href:"http://www.w3schools.com/ajax/", target:"_blank", data-img:"AJAX"}
                %a.wide.theoretical_knowledge{href:"https://www.mongodb.com/", target:"_blank", data-img:"MongoDB"}
                %a.practical_knowledge{href:"https://www.adobe.com/products/photoshop.html?promoid=KLXLS", target:"_blank", data-img:"AdobePhotoshop"}
                %a.practical_knowledge{href:"https://wordpress.org/", target:"_blank", data-img:"wordpress"}


              -#  _____PORTFOLIO_____

        %section.portfolio

            %h2 Portfolio

            %ul.tabs
              %li.tabs__active
                  %a{href:"#tab1"} My sites
              %li
                  %a{href:"#tab2"} My works on Codepen

            #tab1.tabs__content.tabs__content--markup

                %figure.markup
                    %a.markup__git{href:"https://github.com/TkachenkoArtem/TkachenkoArtem.github.io", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on GitHub!"}
                    %a.markup__link_to_cite.jsGoTo{href:".home", target:"_blank", data-cite:"SiteCard",  data-toggle:"tooltip", data-placement:"right", data-original-title:"You are on this site now 😀"}
                    %figcaption.markup__caption
                        %h3 My Site-card
                        %p em + media-queries. Source code: HAML + Sass. Packet managers: npm. Build system automating tasks: Gulp.  Libraries: Normalize.css and jQuery. Framework: Bootstrap 3 (only used tooltip).
                    .btn_download
                        %span.btn_download__link No additional materials

                %figure.markup
                    %a.markup__git{href:"https://github.com/TkachenkoArtem/My_sites/tree/master/01_Gastronymous", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on GitHub!"}
                    %a.markup__link_to_cite{href:"http://tkachenko.ho.ua/01_Gastronymous/", target:"_blank", data-cite:"Gastronymous",  data-toggle:"tooltip", data-placement:"left", data-original-title:"Click and go to this project on hosting!"}
                    %figcaption.markup__caption
                        %h3 Gastronymous
                        %p em + media-queries. Source code: HTML + Sass. Packet managers: npm и bower. Build system automating tasks: Gulp.  Libraries: Normalize.css and jQuery. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/01_Gastronymous.png" download> Download supplemental materials
                            %span.icon_container
                                %span.icon_download
                        </a>

                %figure.markup
                    %a.markup__git{href:"https://github.com/TkachenkoArtem/My_sites/tree/master/02_LusidTheme", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on GitHub!"}
                    %a.markup__link_to_cite{href:"http://tkachenko.ho.ua/02_LusidTheme/", target:"_blank", data-cite:"LusidTheme", data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on hosting!"}
                    %figcaption.markup__caption
                        %h3 Lusid Theme
                        %p % + media-queries. Source code: HTML + Sass. Packet manager: npm. Build system automating tasks: Gulp.  Libraries: Normalize.css. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/02_LusidTheme.png" download> Download supplemental materials
                            %span.icon_container
                                %span.icon_download
                        </a>

                %figure.markup
                    %a.markup__git{href:"https://github.com/TkachenkoArtem/My_sites/tree/master/03_LaCasa", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on GitHub!"}
                    %a.markup__link_to_cite{href:"http://tkachenko.ho.ua/03_LaCasa/", target:"_blank",  data-cite:"LaCasa", data-toggle:"tooltip", data-placement:"left", data-original-title:"Click and go to this project on hosting!"}
                    %figcaption.markup__caption
                        %h3 La Casa
                        %p em + media-queries. Source code: HTML + Sass. Packet manager: npm. Build system automating tasks: Gulp. Libraries: Normalize.css and jQuery. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/03_LaCasa.png" download> Download supplemental materials
                            %span.icon_container
                                %span.icon_download
                        </a>

                %figure.markup
                    %a.markup__git{href:"https://github.com/TkachenkoArtem/My_sites/tree/master/07_NatureTour", target:"_blank",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on GitHub!"}
                    %a.markup__link_to_cite{href:"http://tkachenko.ho.ua/07_NatureTour/", target:"_blank", data-cite:"NatureTour",  data-toggle:"tooltip", data-placement:"right", data-original-title:"Click and go to this project on hosting!"}
                    %figcaption.markup__caption
                        %h3 NatureTour
                        %p em + media-queries. Source code: HAML + Sass. Packet manager: npm. Build system automating tasks: Gulp. Libraries: Normalize.css and jQuery. PerfectPixel.
                    .btn_download
                        <a class="btn_download__link" href="http://tkachenko.ho.ua/download/07_NatureTour.png" download> Download supplemental materials
                            %span.icon_container
                                %span.icon_download
                        </a>

            #tab2.tabs__content

              .codepen_container
                .codepen_container__annotation
                    %h4 1. ReactJS
                    %p I learn it now!
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="YGXjLZ" data-default-tab="result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/YGXjLZ/">React</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 2. OrnaJS
                    %p I learn it now!
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="vXOVpG" data-default-tab="css,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/vXOVpG/">OrnaJS</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 3. E-mail
                    %p This project shows the markup of the e-mail using the HAML preprocessor.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="QKVqZQ" data-default-tab="html,result" data-user="Tkachenko" data-embed-version="2" data-pen-title="BigLetter" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/QKVqZQ/">BigLetter</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>

              .codepen_container
                .codepen_container__annotation
                    %h4 4. Phonebook
                    %p This project implements a simple phone book for saving contacts in localStorage. Functionality: checking the validity of the input data, data sorting and deletion.
                .codepen_container__example
                    <p data-height="300" data-theme-id="25315" data-slug-hash="LkvdYP" data-default-tab="js,result" data-user="Tkachenko" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Tkachenko/pen/LkvdYP/">JS-phonebook</a> by Artem (<a href="http://codepen.io/Tkachenko">@Tkachenko</a>) on <a href="http://codepen.io">CodePen</a>.</p>


              -#  _____CONTACTS_____

        %section.contacts

            %h2 Contacts

            %address Skype:
                %span a.tkachenko177
            %address E-mail:
                %a{href:"mailto:igrfy87@gmail.com"} igrfy87@gmail.com
            %address Viber/Phone:
                %span +380688891260
            %address Codepen:
                %a{href:"http://codepen.io/Tkachenko/", target:"_blank",  data-toggle:"tooltip", data-placement:"bottom", data-original-title:"Click and go to my Codepen profile!"} http://codepen.io/Tkachenko
            %address Github:
                %a{href:"https://github.com/TkachenkoArtem/", target:"_blank",  data-toggle:"tooltip", data-placement:"bottom", data-original-title:"Click and go to my GitHub profile!"} https://github.com/TkachenkoArtem
            %address Linkedin:
                %a{href:"https://www.linkedin.com/in/artem-tkachenko-17b547128?trk=hp-identity-name", target:"_blank",  data-toggle:"tooltip", data-placement:"top", data-original-title:"Click and go to my LinkedIn profile!"} https://www.linkedin.com/in/artem-tkachenko
            %address Stackoverflow:
                %a{href:"http://ru.stackoverflow.com/users/229296/artem-tkachenko", target:"_blank",  data-toggle:"tooltip", data-placement:"top", data-original-title:"Click and go to my Stackoverflow profile!"} http://ru.stackoverflow.com/users/229296/artem-tkachenko

    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity:"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin:"anonymous"}
    %script{src:"scripts/script.min.js"}
