//main: style.scss

section[name="section__aboutMe"] {
  background: #FFD54F;
  box-shadow: -2px -2px 15px 7px rgba(#FFB300,0.82) inset;
}

.aboutme {
  // width: 100%;
  // padding: 1.500em;
  font-size: 2.000em;
  text-align: left;

  &__container {
    text-align: center;
    border-bottom: 1px groove #FFB300;
  }
}

a[data-img] {
  display: inline-block;
  width: 3.000em;
  height: 4.000em;
  margin: 0.500em;
  vertical-align: middle;
}

a[data-img].wide {
  width: 7.000em;
}

@each $image in atom, SourceTree, gulp, codepen, git, npm, sass,
                github, css3, html5, javascript, bootstrap, bower,
                fontawesome, slick, normalizecss, bourbon, haml, JSON,
                AJAX, underscore, XML, MongoDB, Lightroom,
                AdobePhotoshop, jade, wordpress, autocad,
                babel, jquery, fontello, FlipClock, remodal, rx,
                riot, cs, nodejs, BackboneJS, ornanajs, webpack {
  a[data-img="#{$image}"] {
    background: inline('#{$image}-logo.png') center/contain no-repeat;
  }
}
