//main: style.scss

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  background: $bg_contacts;
  box-shadow: -2px -2px 15px 7px rgba(#5E35B1,0.82) inset;

}

address {
  font: {
    size: 2.500em;
    weight: bold;
  };
  text: {
    align: center;
    transform: capitalize;
  };

  & > a,
  span {
    padding-left: 20px;
    text-transform: lowercase;
    color: #311B92;
  }
}
