//main: style.scss

.section__contacts {
  background: $bg_contacts;
  box-shadow: -2px -2px 15px 7px rgba(#5E35B1,0.82) inset;
}

.contacts {
  &__link {
    font: {
      size: 0.750em;
      weight: bold;
    }
    text-transform: lowercase;
    color: #311B92;
    @include respond(320, 769) {
      display: block;
    }
  }
  @include respond(768, 4801) {
    font-size: 1.700em;
  }
}
