.wrapper {
  width: 100%;
  height: 100%;
}

.main_style {
  margin: 0;
  padding: 0.500em;
  font-size: 1.500em;
  text: {
    align: center;
    transform: uppercase;
  }
  color: #131313;
  letter-spacing: 0.15em;

  &--h1 {
    padding: 0;
    font-size: 3.000em;
    color: #1976D2;
    @include respond-to(768) {
      font-size: 7.000em;
    }
    @include respond-to(992) {
      font-size: 8.000em;
    }
    @include respond(1200, 4801) {
      font-size: 9.000em;
    }
  }

  &--h2 {
    margin: 0;
    padding: 0;
    font-size: 2.500em;
  }

  &--contacts {
    display: block;
  }
}

.next_page {
  width: 37.5px * 2;
  height: 92px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(50% 50%);
  @include respond(320, 768) {
    display: none;
  }

  &__link {
    position: relative;
    transform: rotate(90deg);
    animation: next_page 2s infinite alternate;
    font-size: 80px;
    color: white;
  }
}
@keyframes next_page {
  0% {
    bottom: 3px;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 3px;
  }
}

.navigation {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
    @include respond(320, 481) {
      display: block;
    }

    &:nth-child(1):hover {
      background: $bg_skills;
    }

    &:nth-child(2):hover {
      background: $bg_portfolio;
    }

    &:nth-child(3):hover {
      background: $bg_contacts;
    }

    // &:hover {
    //   // border-radius: 12px;
    // }

    & > a {
      color: white;
      @include respond(320, 481) {
        padding: 0;
        font-size: 1.000em;
      }

      &:hover {
        border-right: 6px;
        color: #131313;
      }
    }
  }
}
