.wrapper {
  width: 100%;
  height: 100%;
}

.main_style {
  font-size: 1.500em;
  margin: 0;
  padding: 0.500em;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  letter-spacing: 0.15em;

  &--h1 {
    font-size: 3.000em;
    padding: 0;
    @include respond-to(768) {
      font-size: 7.000em;
    }
    @include respond-to(992) {
      font-size: 8.000em;
    }
    @include respond(1200, 4801) {
      font-size: 9.000em;
    }
  }

  &--h2 {
    font-size: 2.500em;
    margin: 0;
    padding: 0.500em 0 0;
  }
}
