//main: style.scss

section[name="section__home"] {
  background: $bg_home;
  box-shadow: -2px -2px 15px 7px rgba(#1E88E5,0.82) inset;
}

.home {
  &__avatar {
    @extend %position_relative;
    width: 3.000em;
    height: 3.000em;
    top: -20px;
    left: 0;
    background: inline('img01.png') center/contain no-repeat;
    border-radius: 3.000em;
    @include respond(768, 4801) {
      width: 6.000em;
      height: 6.000em;
      top: -10px;
      left: 10px;
    }

    &:hover {
      @extend %trans_scale;
    }

    & > figcaption {
      @extend %position_relative;
      bottom: -6.000em;
      letter-spacing: 0.15em;
      text-align: center;
      color: #1976D2;
      @include respond(320, 481) {
        bottom: -3.000em;
      }
    }
  }
}
