//main: style.scss


main {
  padding-top: 5.500em;
  padding-left: .500em;
  padding-right: .500em;
  padding-bottom: .500em;
}

.elegantshadow--main {
  font-size: 8.000em;
  padding: 0 0 .300em;
}

.aboutme {
  width: 100%;
  margin: 1.500em;
  padding: 0;
  font-size: 2.000em;
  text-align: left;
  &__container {
    text-align: center;
  }
}

.contacts__link {
  color: navy;
  font-size: 1.200em;
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: none;
}

.elegantshadow--contacts{
  display: block;
}
