//main: style.scss

.portfolio {
  background: $bg_portfolio;
  box-shadow: -2px -2px 15px 7px rgba(#FFB300,0.82) inset;
}

.tabs {
  margin: 1.000em 0;
  padding: 0;
  list-style: none;

  & > li {
    display: inline-block;
    width: 50%;
    background: #FFB300;
    text-align: center;
    font-weight: bold;
    border-top: 2px solid red;
    vertical-align: top;
    @include respond(320, 768) {
      height: 40px;
    }

    & > a {
      width: 100%;
      @extend %main_style;
      @include respond(320, 768) {
        font-size: 1.000em;
      }
    }
  }

  &__content {
    &--markup {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__active {
    @extend %position_relative;
    border-top: 2px solid green !important;

    &:before {
      @extend %contentAbsolute;
      @include triangle(30px, #FFB300, down);
      bottom: -12px;
      left: calc(50% - 15px);
      @include respond(320, 768) {
        bottom: -10px;
      }
    }
  }
}

.markup {
  position: relative;
  width: 49%;
  margin: {
    bottom: 0.750em;
  };
  border: none;

  &__git {
    display: none;
    @extend %contentAbsolute;
    @include respond(768, 4801) {
      display: block;
      width: 50px;
      height: 40px;
      top: 5px;
      left: 5px;
      background-image: url("../img/Octocat.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__link_to_cite {
    display: none;
    @include respond(768, 4801) {
      display: block;
      width: 100%;
      height: 400px;
      border: none;
    }
  }

  &__caption {
    margin: auto;
    padding: 1.000em;
    background: #FFB300;
    text-align: center;
    border: none;
    font-size: 1.250em;
  }
  @include respond(320, 769) {
    font-size: 0.750em;
  }
}
@each $image in SiteCard, Gastronymous, LusidTheme, LaCasa, Ikaros, MagBlog, MediaGrup, Flat, NatureTour {
  a[data-cite="#{$image}"] {
    background: url("../img/cite-#{$image}.png") center/cover no-repeat;
  }
}

.codepen_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__annotation {
    flex-basis: 25.5%;
    padding: 1.000em;
    font-size: 1.500em;
    text-align: justify;
    @include respond(320, 768) {
      display: none;
    }
  }

  &__example {
    flex-basis: 73.5%;
    @include respond(320, 768) {
      flex-basis: 100%;
    }
  }
}
