//main: style.scss

section[name="section__portfolio"] {
  background: $bg_portfolio;
  box-shadow: -2px -2px 15px 7px rgba(#FFB300,0.82) inset;
}

.portfolio {
  display: inline-block;
  width: calc(50% - 0.750em*2);
  margin: 0.750em;
  vertical-align: middle;
  border: none;
  @include respond-to(768) {
    width: calc(50% - 2.000em*2);
    margin: 2.700em 2.000em;
  }
  @include respond(992, 4801) {
    width: calc(50% - 4.000em*2);
    margin: 2.700em 4.000em;
  }

  &:hover {
    @extend %trans_scale;
  }

  a,
  img {
    width: 100%;
  }

  img {
    display: none;
    @include respond(768, 4801) {
      display: block;
      height: 400px;
      border: none;
    }
  }

  &__caption {
    height: 18em;
    margin: auto;
    padding: 1.000em;
    background: #FFB300;
    text-align: center;
    border: none;
    @include respond-to(480) {
      height: 11.000em;
    }
    @include respond(768, 4801) {
      height: 8.000em;
      margin-top: 0.500em;
    }
    @include respond(992, 4801) {
      height: 7.500em;
    }
  }
}
@each $image in Gastronymous, LusidTheme, LaCasa, Ikaros, MagBlog, MediaGrup, Flat {
  img[data-cite="#{$image}"] {
    background: url("../img/cite-#{$image}.png") center/cover no-repeat;
  }
}

.codepen_container {
  padding: 1.000em;
  @include respond(320, 481) {
    display: none;
  }

  &::after {
    @extend %clearfix;
  }

  &__annotation {
    float: left;
    width: 25%;
    padding: 1.000em;

    p {
      font-size: 1.500em;
      text-align: justify;
    }
  }

  &__example {
    float: right;
    width: 75%;
  }
}
