//main: style.scss

section[name="section__portfolio"] {
  background: #81C784;
  box-shadow: -2px -2px 15px 7px rgba(#43A047,0.82) inset;
}

.portfolio {
  display: inline-block;
  width: calc(50% - 1.500em*2);
  margin: 1.500em;
  vertical-align: middle;

  &__iframe {
    display: none;
    width: 100%;
    height: 400px;
    border: none;
    background: white;
    @include respond(768, 4801) {
      display: block;
    }
  }

  &__caption {
    margin: auto;
    padding: 1.000em;
    height: 253px;
    background: #43A047;
    text-align: center;
    @include respond-to(480) {
      height: 185px;
    }
    @include respond(768, 4801) {
      margin-top: 0.500em;
      height: 156.75px;
    }
    @include respond(992, 4801) {
      height: 152px;
    }
  }
}
