//main: style.scss

.skills {
  background: $bg_skills;
  box-shadow: -2px -2px 15px 7px rgba(#43A047,0.82) inset;

  &__logos {
    display: none;
    display: block;
    text-align: center;
  }
}

.legend {
  text-align: right;

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    @include respond(768, 4801) {
      display: inline-block;
      padding: 1.000em;
    }

    &.c_e {
      color: darken(#66BB6A, 10%);
    }

    &.p_k {
      color: #01579B;
    }

    &.t_k {
      color: #E65100;
    }

    &:before {
      content: "\274d ";
      padding-right: 0.500em;
    }
  }
}

a[data-img] {
  display: inline-block;
  width: 12.000em;
  height: 12.000em;
  margin: 1.000em;
  padding: 1.000em;
  vertical-align: middle;
  border-radius: 6.000em;
  @include respond(320, 769) {
    width: 6.000em;
    height: 6.000em;
    border-radius: 3.000em;
    margin: 0.5000em;
    padding: 0.5000em;

  }

  &:hover {
    @extend %trans_scale;
  }
}
@each $image in c, gulp, git, npm, sass, github, css3, html5, javascript, bootstrap, fontawesome, normalizecss, bourbon, haml, JSON, AJAX, underscore, XML, MongoDB, AdobePhotoshop, wordpress, babel, jquery, php, cs, webpack {
  a[data-img="#{$image}"] {
    background: inline('#{$image}-logo.png') center/auto 5.500em no-repeat;
    @include respond(320, 769) {
      background: inline('#{$image}-logo.png') center/auto 3.000em no-repeat;
    }
  }
}

.wide {
  background-size: 7.500em auto !important;
  @include respond(320, 769) {
    background-size: 3.500em auto !important;

  }
}

.commercial_experience {
  border: 7px solid darken(#66BB6A, 10%);
}

.practical_knowledge {
  border: 7px solid #01579B;
}

.theoretical_knowledge {
  border: 7px solid #E65100;
}
