//out: ../css/style.css
@import "mixins/media";

* {
  // position: relative;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  @include respond-to(320) {
    font-size: 12px;
  }
  @include respond-to(480) {
    font-size: 13px;
  }
  @include respond-to(768) {
    font-size: 14px;
  }
  @include respond-to(992) {
    font-size: 15px;
  }
  @include respond(2560, 4801) {
    font-size: 20px;
  }
}

body, h3 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  width: 100%;
  margin: 0;
  padding: 0 1.000em 1.000em;
  @include respond(768, 4801) {
    min-height: calc(100vh + 20px);
  }
}

#ho_adv {
  display: none !important;
}

#back-to-top {
  position: fixed;
  bottom: 0.500em;
  right: 1.400em;
  width: 1.500em;
  height: 1.500em;
  z-index: 9999;
  padding-top: 0.150em;
  border-radius: 0.750em;
  transition: opacity 0.2s ease-out;
  font-size: 2.000em;
  text-align: center;
  opacity: 0;
  p {
    margin: 0;
    color: #90A4AE;
    &:hover {
      color: #263238;
    }
  }
}

#back-to-top:hover {
  background: #546E7A;
  box-shadow: 4px 3px 11px 5px rgba(#BDBDBD,0.82);
}

#back-to-top.show {
  background: #CFD8DC;
  opacity: 0.85;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

@import "general";
@import "home";
@import "aboutMe";
@import "portfolio";
@import "contacts";
