//out: ../css/style.css
@import "mixins/media";
@import "mixins/triangle";
@import "reset";

$bg_home: #64B5F6;
$bg_skills: #81C784;
$bg_portfolio: #FFD54F;
$bg_contacts: #9575CD;
$main_color: #131313;

h1 {
  & > span {
    display: block;
    letter-spacing: 0.15em;
    text: {
      align: center;
      transform: uppercase;
    }
    font-size: 1.000em;
    color: #1976D2;
    @include respond-to(768) {
      font-size: 3.000em;
    }
    @include respond(992, 4801) {
      font-size: 4.000em;
    }
  }
}

h2 {
  @extend %main_style;
  font-size: 1.500em !important;
  @include respond(768, 4801) {
    font-size: 2.500em !important;
  }
}

h4 {
  margin-bottom: 0.750em;
  text-align: center;
}

section {
  position: relative;
  width: 100%;
  @include respond(768, 4801) {
    min-height: 100vh;

  }

  &:not(.home) {
    padding: {
      top: 0.500em;
      bottom: 0.500em;
      left: 0.500em;
      right: 5.000em;
    };
    @include respond(768, 4801) {
      padding: {
        top: 3.000em;
        bottom: 5.000em;
        left: 2.000em;
        right: 5.000em;
      };
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.right_bar {
  position: fixed;
  top: 50vh;
  right: 10px;
  padding: 0;
  transform: translateY(-50%);
  list-style: none;
  z-index: 4;

  & > li {
    display: block;
    width: 3.000em;
    height: 3.000em;
    margin: 0;
    padding: 0;
    text-align: center;

    &:nth-of-type(1) {
      background: #1E88E5;
    }

    &:nth-of-type(2) {
      background: #43A047;
    }

    &:nth-of-type(3) {
      background: #FFB300;
    }

    &:nth-of-type(4) {
      background: #5E35B1;
    }

    &:hover {
      @extend %trans_scale;
    }

    & > a {
      padding: 2px;
      font-size: 2.000em;
      line-height: 1.500em;
      color: white;
    }
  }
}

#ho_adv {
  display: none !important;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

%trans_scale {
  transform: scale(1.2);
}

%position_relative {
  position: relative;
}

%contentAbsolute {
  content: '';
  position: absolute;
}

%main_style {
  margin: 0;
  padding: 0.500em;
  font-size: 1.500em;
  letter-spacing: 0.15em;
  text: {
    align: center;
    transform: uppercase;
  }
  color: $main_color;
}
@import "components/tooltip";
@import "components/btn_download";
@import "home";
@import "skills";
@import "portfolio";
@import "contacts";
