//out: ../css/style.css
@import "mixins/media";

* {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  @include respond-to(320) {
    font-size: 12px;
  }
  @include respond-to(480) {
    font-size: 13px;
  }
  @include respond-to(768) {
    font-size: 14px;
  }
  @include respond-to(992) {
    font-size: 15px;
  }
}

h1 {
  font-size: 8.000em !important;
  padding: 0 !important;
}

h2 {
  font-size: 2.500em !important;
  padding: 0.500em 0 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

img {
  max-width: 8.000em;
  max-height: 4.000em;
  padding-top: 0.500em;
  padding-right: 0.800em;
  vertical-align: middle;
}

section {
  width: calc(100vw - 18px);
  min-height: 100vh;
  margin: 0;
  padding: 0 1.000em 1.000em;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.elegantshadow {
  font-size: 1.500em;
  padding: 1.000em;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ho_adv {
  display: none !important;
}

#back-to-top {
  position: fixed;
  bottom: 0.300em;
  right: 1.400em;
  width: 1.000em;
  height: 1.000em;
  z-index: 9999;
  vertical-align: middle;
  border: 0;
  border-radius: 0.500em;
  transition: opacity 0.2s ease-out;
  font-size: 3.000em;
  text-align: center;
  color: white;
  opacity: 0;
}

#back-to-top:hover {
  background: #E57373;
  box-shadow: 4px 3px 11px 5px rgba(#E53935,0.82);

}

#back-to-top.show {
  opacity: 0.85;
}
@import "home";
@import "aboutMe";
@import "portfolio";
@import "contacts";
