.icon-sprite_arrow:after {
  @extend %contentAbsolute;
  bottom: 30px;
  right: 50px;
  background-image: url("../img/sprite.png");
  background-position: 0 0;
  width: 15px;
  height: 15px;
  @include respond(768, 1200) {
    bottom: 28px;
    right: 25px;
  }
  @include respond(1200, 4801) {
    display: none;
  }
}

.icon-sprite_bird:after {
  @extend %contentAbsolute;
  top: 0;
  right: 30px;
  background-image: url("../img/sprite.png");
  background-position: -15px 0;
  width: 34px;
  height: 18px;
  @include respond(320, 768) {
    top: -5px;
    right: 0;
    left: 130px;
  }
}
