/*что бы ничего не уехало*/
  * {
    padding: 0px;
  }

/*стиль таблицы, размер рассчитан исходя из размера внутренних изображений*/
  table {
    width: 675px; /* Ширина таблицы */
    height: 1158px; /* Высота таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
    background-color: white;
    margin: auto; /* Центр окна браузера */
  }

/*для визуализации результата (иначе не показать в окне браузера имеющуюся снаружи белую рамку)*/
  body {
    background-color: black;
  }

/*стиль заголовка*/
  caption{
    text-align: center; /*по центру*/
    color: grey; /*серый*/
    background-color: white; /*белая заливка*/
    font-family: Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", sans-serif;
    font-size: smaller;
  }

/*высота пустых ячеек*/
  .hollow {
    height: 5px;
  }

/*стиль для текста в преподвале*/
  .text_blue_footer {
    font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
    color: #3e77aa;
    vertical-align: center;
    text-align: center;
    height: 85px;
    font-size: smaller;
  }

/*иной текст*/
  .text_blue {
     font-family: Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", sans-serif;
     color: #3e77aa;
     font-size: smaller;
     height: 32px;
    }

/*стиль для тега, только жирность*/
  span {
    font-weight: bold;
  }

/*иконки перед текстом*/
  .icon1 {
    background-image: url(../img/list1_1.jpg); /*фон*/
    border: 1px solid white; /*it is a crutch*/
  }

  .icon2 {
    background-image: url(../img/list2_1.jpg); /*фон*/
  }

  .icon3 {
    background-image: url(../img/list1_2.jpg); /*фон*/
  }

  .icon4 {
    background-image: url(../img/list2_2.jpg); /*фон*/
  }

  .icon5 {
    background-image: url(../img/list1_3.jpg); /*фон*/
  }

  .icon6 {
    background-image: url(../img/list2_3.jpg); /*фон*/
  }

  .icon7 {
    background-image: url(../img/list1_4.png); /*фон*/
  }

  .icon8 {
    background-image: url(../img/list2_4.jpg); /*фон*/
  }

  .icon9 {
    background-image: url(../img/list1_5.jpg); /*фон*/
  }

  .icon10 {
    background-image: url(../img/list2_5.png); /*фон*/
  }

  .icon11 {
    background-image: url(../img/list1_6.jpg); /*фон*/
  }

  .icon12 {
    background-image: url(../img/list2_6.png); /*фон*/
  }

  .icon13 {
    background-image: url(../img/list1_7.jpg); /*фон*/
  }

  .icon14 {
    background-image: url(../img/list2_7.jpg); /*фон*/
  }

  .icon15 {
    background-image: url(../img/list1_8.png); /*фон*/
  }

  .icon16 {
    background-image: url(../img/list2_8.jpg); /*фон*/
  }

  .icon17 {
    background-image: url(../img/list1_9.png); /*фон*/
  }

/*магазины приложений*/
  .app_store {
    background-image: url(../img/app_store.jpg); /*фон*/
  }

  .google_play {
    background-image: url(../img/google_play.jpg); /*фон*/
  }

/*оформление границ*/
  td.heder {
    border-left: 1.5px solid #E7E7E7;
  }

  td.heder2 {
    border-left: 1.5px solid #E7E7E7;
    border-right: 1.5px solid #E7E7E7;
  }

    td.BG {
    border-bottom: 3px solid #66CC66;
    height: 5px;
  }

   td.BG2 {
    border-bottom: 3px solid #66CC66;
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
    height: 5px;
  }

  td.line_lr_hollow {
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
    height: 5px;
  }

  td.line_l {
    border-left: 1.5px solid #CCCCCC;
  }
  
  td.line_r {
    border-right: 1.5px solid #CCCCCC;
  }

  td.line_lrb1 {
    border-right: 1.5px solid #CCCCCC;
    border-left: 1.5px solid #CCCCCC;
    border-bottom: 1.5px solid #CCCCCC;
    border-radius: 0px 0px 0px 8px;
  }

  td.line_lrb2 {
    border-right: 1.5px solid #CCCCCC;
    border-left: 1.5px solid #CCCCCC;
    border-bottom: 1.5px solid #CCCCCC;
    border-radius: 0px 0px 8px 0px;
  }

  td.line_b {
    border-bottom: 1.5px solid #CCCCCC;
  }

/*стили баннеров*/
  .banner1 {
    background-image: url(../img/banner1.jpg); /*фон*/
    height: 107px; /*высота*/
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
  }

  .banner2 {
    background-image: url(../img/banner2.jpg); /*фон*/
    height: 198px; /*высота*/
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
  }

  .banner3 {
    background-image: url(../img/banner3.jpg); /*фон*/
    height: 174px; /*высота*/
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
  }

  .banner4 {
    background-image: url(../img/banner4.jpg); /*фон*/
    height: 154px; /*высота*/
    vertical-align: center;
    text-align: center;
    border-left: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #CCCCCC;
    border-bottom: 1.5px solid #CCCCCC;
  }

/*общие атрибуты для фонов*/
  #back_ground {
    background-repeat: no-repeat;
    background-position: center center;
  }

/*кнопка на css3; webkit можно не писать но пусть будет; взята стандартная и изменена*/
  .button {
     text-decoration:none; text-align:center; 
     padding:11px 32px; 
     border:solid 1px #66cc33; 
     -webkit-border-radius:4px;
     -moz-border-radius:4px; 
     border-radius: 4px; 
     font:19px Tahoma, Geneva, sans-serif; 
     font-weight:bold; 
     color:#ffffff; 
     background:#66cc33; 
     -webkit-box-shadow:0px 5px 2px #339933, inset 0px 0px 1px #ffffff; 
     -moz-box-shadow: 0px 5px 2px #339933,  inset 0px 0px 1px #ffffff;  
     box-shadow:0px 5px 2px #339933, inset 0px 0px 1px #ffffff;  
  }

  .button:hover {
     padding:11px 32px; 
     border:solid 1px #66cc33; 
     -webkit-border-radius:4px;
     -moz-border-radius:4px; 
     border-radius: 4px; 
     font:18px Tahoma, Geneva, sans-serif; 
     font-weight:bold; 
     color:#eef2ed; 
     background-color:#86d65e; 
     background-image: -moz-linear-gradient(top, #86d65e 0%, #68ba3f 100%); 
     background-image: -webkit-linear-gradient(top, #86d65e 0%, #68ba3f 100%); 
     background-image: -o-linear-gradient(top, #86d65e 0%, #68ba3f 100%); 
     background-image: -ms-linear-gradient(top, #86d65e 0% ,#68ba3f 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68ba3f', endColorstr='#68ba3f',GradientType=0 ); 
     background-image: linear-gradient(top, #86d65e 0% ,#68ba3f 100%);   
     -webkit-box-shadow:6px 5px 7px #339933, inset 0px 0px 1px #ffffff; 
     -moz-box-shadow: 6px 5px 7px #339933,  inset 0px 0px 1px #ffffff;  
     box-shadow:6px 5px 7px #339933, inset 0px 0px 1px #ffffff;  
   }

   .button:active{
     padding:11px 32px; 
     border:solid 1px #339933; 
     -webkit-border-radius:4px;
     -moz-border-radius:4px; 
     border-radius: 4px; 
     font:18px Tahoma, Geneva, sans-serif; 
     font-weight:bold; 
     color:#f7efef; 
     background-color:#44732d; 
     background-image: -moz-linear-gradient(top, #44732d 0%, #66cc33 100%); 
     background-image: -webkit-linear-gradient(top, #44732d 0%, #66cc33 100%); 
     background-image: -o-linear-gradient(top, #44732d 0%, #66cc33 100%); 
     background-image: -ms-linear-gradient(top, #44732d 0% ,#66cc33 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cc33', endColorstr='#66cc33',GradientType=0 ); 
     background-image: linear-gradient(top, #44732d 0% ,#66cc33 100%);   
     -webkit-box-shadow:9px 9px 20px #66cc33, inset 2px 0px 7px #66cc33; 
     -moz-box-shadow: 9px 9px 20px #66cc33,  inset 2px 0px 7px #66cc33;  
     box-shadow:9px 9px 20px #66cc33, inset 2px 0px 7px #66cc33;
   }