//out: ../css/style.css
@import "mixins/media";
@import "fonts";
@import "reboot";

@function em($pxval, $base: 16px) {
   @return ($pxval / $base) * 1em;
}

$brandcolor: #28b028;

body {
  background: inline('bgi.png') repeat fixed;
}

h1 {
  font: em(34px) "Klavika Medium";
  text-transform: uppercase;
  color: #221e1f;
}

h3 {
  font: 400 em(14px) "Myriad Pro";
  text-transform: uppercase;
  color: #3e3a2f;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
  font-size: inherit;
}

.page {
  margin: {
    top: em(11px, 12px);
    left: em(22px, 12px);
    bottom: em(7px, 12px);
  };
  font: 400 em(12px) "Arial";
  text-shadow: 0.5px 0.9px 0 rgb(255, 255, 255);
  color: #14961c;
}

#ho_adv {
  //It`s for hosting
  display: none !important;
}

%tmp {
  border: 1px solid gray;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

%position_relative {
  position: relative;
}

%reset_list_style {
  list-style: none;
}

%inline_block {
  display: inline-block;
}
@import "header";
@import "main";
@import "footer";
