//out: ../css/style.css
@import "mixins/media";
@import "fonts";

*, *::after, *::before  {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include respond-to(320) {
    font-size: 12px;
  }
  @include respond-to(480) {
    font-size: 13px;
  }
  @include respond-to(768) {
    font-size: 14px;
  }
  @include respond-to(992) {
    font-size: 15px;
  }
  @include respond(2560, 4801) {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  background: inline('bgi.png') repeat;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
  @extend %tmp;
}

#ho_adv {
  //It`s for hosting
  display: none !important;
}

%tmp {
  min-height: 250px;
  border: 1px solid gray;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

%position_relative {
  position: relative;
}
@import "header";
@import "main";
@import "footer";
