* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }
  @media only screen and (min-width: 0px) and (max-width: 319px) {
    * {
      display: none; } }

html {
  font-size: 16px; }
  @media only screen and (min-width: 0px) and (max-width: 479px) {
    html {
      font-size: 12px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
      font-size: 13px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 15px; } }
  @media only screen and (min-width: 2560px) and (max-width: 4800px) {
    html {
      font-size: 20px; } }

body,
figure,
h1,
h2,
h3,
h4,
p,
section,
ul {
  margin: 0;
  padding: 0; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

address {
  font-style: normal; }

h1 > span {
  display: block;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.000em;
  color: #1976D2; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 > span {
      font-size: 3.000em; } }
  @media only screen and (min-width: 992px) and (max-width: 4800px) {
    h1 > span {
      font-size: 4.000em; } }

h2 {
  font-size: 1.500em !important; }
  @media only screen and (min-width: 768px) and (max-width: 4800px) {
    h2 {
      font-size: 2.500em !important; } }

h4 {
  margin-bottom: 0.750em;
  text-align: center; }

section {
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 4800px) {
    section {
      min-height: 100vh; } }
  section:not(.home) {
    padding-top: 0.500em;
    padding-bottom: 0.500em;
    padding-left: 0.500em;
    padding-right: 5.000em; }
    @media (pointer: coarse) {
      section:not(.home) {
        padding-right: 0.500em; } }
    @media only screen and (min-width: 768px) and (max-width: 4800px) {
      section:not(.home) {
        padding-top: 2.000em;
        padding-bottom: 2.000em;
        padding-left: 2.000em;
        padding-right: 5.000em; } }
  @media only screen and (min-width: 768px) and (max-width: 4800px) and (pointer: coarse) {
    section:not(.home) {
      padding-right: 2.000em; } }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.right_bar {
  position: fixed;
  top: 50vh;
  right: 10px;
  padding: 0;
  transform: translateY(-50%);
  list-style: none;
  z-index: 4; }
  @media (pointer: coarse) {
    .right_bar {
      display: none; } }
  .right_bar > li {
    display: block;
    width: 3.000em;
    height: 3.000em;
    margin: 0;
    padding: 0;
    text-align: center; }
    .right_bar > li:nth-of-type(1) {
      background: #1E88E5; }
    .right_bar > li:nth-of-type(2) {
      background: #43A047; }
    .right_bar > li:nth-of-type(3) {
      background: #FFB300; }
    .right_bar > li:nth-of-type(4) {
      background: #5E35B1; }
    .right_bar > li > a {
      padding: 2px;
      font-size: 2.000em;
      line-height: 1.500em;
      color: white; }

#ho_adv {
  display: none !important; }

.right_bar > li:hover, a[data-img]:hover {
  transform: scale(1.2); }

.tabs__active {
  position: relative; }

.tabs__active:before, .markup__git {
  content: '';
  position: absolute; }

h2, .home__navigation a, .tabs > li > a {
  margin: 0;
  padding: 0.500em;
  font-size: 1.500em;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  color: #131313; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.btn_download {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 4800px) {
    .btn_download {
      vertical-align: middle;
      text-align: center;
      border: 1px solid #a37406; } }
  .btn_download__link {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 4rem;
    background: #FFB300;
    padding-left: 3px;
    padding-right: 55px;
    line-height: 4rem;
    color: #232323; }
    @media only screen and (min-width: 320px) and (max-width: 340px) {
      .btn_download__link {
        line-height: 2rem; } }
    @media only screen and (min-width: 768px) and (max-width: 4800px) {
      .btn_download__link {
        padding: 0 2rem; } }
    .btn_download__link:hover:not(span) {
      background: #ffd166; }

.icon_container {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  width: 4rem;
  padding-top: 1.66rem;
  background: rgba(0, 0, 0, 0.1); }

.icon_download {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1rem;
  margin: auto;
  border: solid 0.5rem #232323;
  border-top: none; }
  .icon_download:after, .icon_download:before {
    content: '';
    display: block;
    position: absolute;
    animation: icon-bounce 0.5s infinite alternate; }
  .icon_download:before {
    left: 0.5rem;
    top: -0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #232323; }
  .icon_download:after {
    left: 0.25rem;
    top: -0.125rem;
    width: 0;
    height: 0;
    border-left: solid 0.5rem transparent;
    border-right: solid 0.5rem transparent;
    border-top: solid 0.5rem #232323; }

@keyframes icon-bounce {
  from {
    transform: translateY(-5px); }
  to {
    transform: translateY(0); } }

@keyframes white-pulse {
  from {
    color: rgba(255, 255, 255, 0.2); }
  to {
    color: rgba(255, 255, 255, 0.5); } }

.home {
  background: #64B5F6;
  box-shadow: -2px -2px 15px 7px rgba(30, 136, 229, 0.82) inset;
  z-index: 5; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .home {
      padding-bottom: 1.000em; } }
  .home nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25); }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .home nav {
        padding: 5px; } }
  .home__about_me {
    width: 90%;
    text-align: center;
    font-size: 1.300em;
    color: white; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .home__about_me {
        font-size: 1.000em; } }
  .home__avatar {
    width: 10%;
    height: 75px;
    padding-right: 5px;
    background: inline("img01.png") center/contain no-repeat; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .home__avatar {
        height: 50px; } }
  .home__navigation {
    display: flex;
    padding: 1.500em;
    justify-content: space-around; }
    .home__navigation a {
      display: flex;
      position: relative;
      width: 30%;
      height: 75vh;
      padding-bottom: 15vh;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      color: white; }
      .home__navigation a:nth-child(1) {
        background: #81C784;
        box-shadow: -2px -2px 15px 7px rgba(67, 160, 71, 0.82) inset;
        color: #347c37; }
      .home__navigation a:nth-child(2) {
        background: #FFD54F;
        box-shadow: -2px -2px 15px 7px rgba(255, 179, 0, 0.82) inset;
        color: #cc8f00; }
      .home__navigation a:nth-child(3) {
        background: #9575CD;
        box-shadow: -2px -2px 15px 7px rgba(94, 53, 177, 0.82) inset;
        color: #49298a; }
      .home__navigation a:hover {
        color: #131313; }
      .home__navigation a > p {
        width: 100%; }
        .home__navigation a > p:nth-of-type(2) {
          text-transform: lowercase; }
        @media only screen and (min-width: 769px) and (max-width: 4800px) {
          .home__navigation a > p span {
            display: block;
            position: absolute;
            font-size: 5.000em;
            bottom: 35%;
            left: 50%;
            transform: translate(-50%); } }
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        .home__navigation a {
          width: 100%;
          height: 30%;
          padding: 5px;
          align-content: center; } }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .home__navigation {
        flex-direction: column;
        padding: 0.500em;
        height: calc(100vh - 110px);
        align-items: stretch; } }

.skills {
  background: #81C784;
  box-shadow: -2px -2px 15px 7px rgba(67, 160, 71, 0.82) inset; }
  .skills__logos {
    display: none;
    display: block;
    text-align: center; }

.legend {
  text-align: right; }
  .legend ul {
    margin: 0; }
  .legend li {
    list-style-type: none; }
    @media only screen and (min-width: 768px) and (max-width: 4800px) {
      .legend li {
        display: inline-block;
        padding: 1.000em; } }
    .legend li.c_e {
      color: #49a54e; }
    .legend li.p_k {
      color: #01579B; }
    .legend li.t_k {
      color: #E65100; }
    .legend li:before {
      content: "\274d ";
      padding-right: 0.500em; }

a[data-img] {
  display: inline-block;
  width: 12.000em;
  height: 12.000em;
  margin: 1.000em;
  padding: 1.000em;
  vertical-align: middle;
  border-radius: 6.000em; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img] {
      width: 6.000em;
      height: 6.000em;
      border-radius: 3.000em;
      margin: 0.5000em;
      padding: 0.5000em; } }

a[data-img="c"] {
  background: inline("c-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="c"] {
      background: inline("c-logo.png") center/auto 3em no-repeat; } }

a[data-img="gulp"] {
  background: inline("gulp-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="gulp"] {
      background: inline("gulp-logo.png") center/auto 3em no-repeat; } }

a[data-img="git"] {
  background: inline("git-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="git"] {
      background: inline("git-logo.png") center/auto 3em no-repeat; } }

a[data-img="npm"] {
  background: inline("npm-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="npm"] {
      background: inline("npm-logo.png") center/auto 3em no-repeat; } }

a[data-img="sass"] {
  background: inline("sass-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="sass"] {
      background: inline("sass-logo.png") center/auto 3em no-repeat; } }

a[data-img="github"] {
  background: inline("github-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="github"] {
      background: inline("github-logo.png") center/auto 3em no-repeat; } }

a[data-img="css3"] {
  background: inline("css3-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="css3"] {
      background: inline("css3-logo.png") center/auto 3em no-repeat; } }

a[data-img="html5"] {
  background: inline("html5-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="html5"] {
      background: inline("html5-logo.png") center/auto 3em no-repeat; } }

a[data-img="javascript"] {
  background: inline("javascript-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="javascript"] {
      background: inline("javascript-logo.png") center/auto 3em no-repeat; } }

a[data-img="bootstrap"] {
  background: inline("bootstrap-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="bootstrap"] {
      background: inline("bootstrap-logo.png") center/auto 3em no-repeat; } }

a[data-img="fontawesome"] {
  background: inline("fontawesome-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="fontawesome"] {
      background: inline("fontawesome-logo.png") center/auto 3em no-repeat; } }

a[data-img="normalizecss"] {
  background: inline("normalizecss-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="normalizecss"] {
      background: inline("normalizecss-logo.png") center/auto 3em no-repeat; } }

a[data-img="bourbon"] {
  background: inline("bourbon-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="bourbon"] {
      background: inline("bourbon-logo.png") center/auto 3em no-repeat; } }

a[data-img="haml"] {
  background: inline("haml-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="haml"] {
      background: inline("haml-logo.png") center/auto 3em no-repeat; } }

a[data-img="JSON"] {
  background: inline("JSON-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="JSON"] {
      background: inline("JSON-logo.png") center/auto 3em no-repeat; } }

a[data-img="AJAX"] {
  background: inline("AJAX-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="AJAX"] {
      background: inline("AJAX-logo.png") center/auto 3em no-repeat; } }

a[data-img="underscore"] {
  background: inline("underscore-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="underscore"] {
      background: inline("underscore-logo.png") center/auto 3em no-repeat; } }

a[data-img="XML"] {
  background: inline("XML-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="XML"] {
      background: inline("XML-logo.png") center/auto 3em no-repeat; } }

a[data-img="MongoDB"] {
  background: inline("MongoDB-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="MongoDB"] {
      background: inline("MongoDB-logo.png") center/auto 3em no-repeat; } }

a[data-img="AdobePhotoshop"] {
  background: inline("AdobePhotoshop-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="AdobePhotoshop"] {
      background: inline("AdobePhotoshop-logo.png") center/auto 3em no-repeat; } }

a[data-img="wordpress"] {
  background: inline("wordpress-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="wordpress"] {
      background: inline("wordpress-logo.png") center/auto 3em no-repeat; } }

a[data-img="babel"] {
  background: inline("babel-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="babel"] {
      background: inline("babel-logo.png") center/auto 3em no-repeat; } }

a[data-img="jquery"] {
  background: inline("jquery-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="jquery"] {
      background: inline("jquery-logo.png") center/auto 3em no-repeat; } }

a[data-img="php"] {
  background: inline("php-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="php"] {
      background: inline("php-logo.png") center/auto 3em no-repeat; } }

a[data-img="cs"] {
  background: inline("cs-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="cs"] {
      background: inline("cs-logo.png") center/auto 3em no-repeat; } }

a[data-img="webpack"] {
  background: inline("webpack-logo.png") center/auto 5.5em no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    a[data-img="webpack"] {
      background: inline("webpack-logo.png") center/auto 3em no-repeat; } }

.wide {
  background-size: 7.500em auto !important; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .wide {
      background-size: 3.500em auto !important; } }

.commercial_experience {
  border: 7px solid #49a54e; }

.practical_knowledge {
  border: 7px solid #01579B; }

.theoretical_knowledge {
  border: 7px solid #E65100; }

.portfolio {
  background: #FFD54F;
  box-shadow: -2px -2px 15px 7px rgba(255, 179, 0, 0.82) inset; }

.tabs {
  margin: 1.000em 0;
  padding: 0;
  list-style: none; }
  .tabs > li {
    display: inline-block;
    width: 50%;
    background: #FFB300;
    text-align: center;
    font-weight: bold;
    border-top: 2px solid red;
    vertical-align: top; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .tabs > li {
        height: 40px; } }
    .tabs > li > a {
      width: 100%; }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .tabs > li > a {
          font-size: 1.000em; } }
  .tabs__content--markup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .tabs__active {
    border-top: 2px solid green !important; }
    .tabs__active:before {
      height: 0;
      width: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #FFB300;
      bottom: -12px;
      left: calc(50% - 15px); }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .tabs__active:before {
          bottom: -10px; } }

.markup {
  position: relative;
  width: 49%;
  margin-bottom: 0.750em;
  border: none; }
  .markup__git {
    display: none; }
    @media only screen and (min-width: 768px) and (max-width: 4800px) {
      .markup__git {
        display: block;
        width: 50px;
        height: 40px;
        top: 5px;
        left: 5px;
        background-image: url("../img/Octocat.png");
        background-repeat: no-repeat;
        background-size: cover; } }
  .markup__link_to_cite {
    display: none; }
    @media only screen and (min-width: 768px) and (max-width: 4800px) {
      .markup__link_to_cite {
        display: block;
        width: 100%;
        height: 400px;
        border: none; } }
  .markup__caption {
    margin: auto;
    padding: 1.000em;
    background: #FFB300;
    text-align: center;
    border: none;
    font-size: 1.250em; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .markup {
      font-size: 0.750em; } }

a[data-cite="SiteCard"] {
  background: url("../img/cite-SiteCard.png") center/cover no-repeat; }

a[data-cite="Gastronymous"] {
  background: url("../img/cite-Gastronymous.png") center/cover no-repeat; }

a[data-cite="LusidTheme"] {
  background: url("../img/cite-LusidTheme.png") center/cover no-repeat; }

a[data-cite="LaCasa"] {
  background: url("../img/cite-LaCasa.png") center/cover no-repeat; }

a[data-cite="Ikaros"] {
  background: url("../img/cite-Ikaros.png") center/cover no-repeat; }

a[data-cite="MagBlog"] {
  background: url("../img/cite-MagBlog.png") center/cover no-repeat; }

a[data-cite="MediaGrup"] {
  background: url("../img/cite-MediaGrup.png") center/cover no-repeat; }

a[data-cite="Flat"] {
  background: url("../img/cite-Flat.png") center/cover no-repeat; }

a[data-cite="NatureTour"] {
  background: url("../img/cite-NatureTour.png") center/cover no-repeat; }

.codepen_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .codepen_container__annotation {
    width: 25.5%;
    padding: 1.000em;
    font-size: 1.500em;
    text-align: justify; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .codepen_container__annotation {
        display: none; } }
  .codepen_container__example {
    width: 73.5%; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .codepen_container__example {
        width: 100%; } }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  background: #9575CD;
  box-shadow: -2px -2px 15px 7px rgba(94, 53, 177, 0.82) inset; }
  .contacts address {
    font-size: 2.300em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .contacts address {
        font-size: 0.750em;
        text-align: left; } }
    .contacts address > a,
    .contacts address span {
      padding-left: 20px;
      font-weight: normal;
      text-transform: lowercase;
      color: #311B92; }
