* {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media only screen and (min-width: 0px) and (max-width: 479px) {
    html {
      font-size: 12px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
      font-size: 13px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 15px; } }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

ul {
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

img {
  max-width: 8.000em;
  max-height: 4.000em;
  padding-top: 0.500em;
  padding-right: 0.800em;
  vertical-align: middle; }

.tablet {
  width: 100%;
  height: calc(100% + 2.000em);
  position: absolute;
  z-index: 1;
  background: black;
  border-radius: 2.000em; }

.fa-windows {
  position: absolute;
  top: 45%;
  right: 0.8%;
  z-index: 9999;
  transform: rotate(90deg);
  font-size: 3.000em;
  color: white; }

.speaker {
  width: 3px;
  height: 5vw;
  position: absolute;
  z-index: 9999;
  top: 42%;
  left: 1%;
  background: white; }

.wrapper {
  width: calc(100vw - 9.000em);
  top: 1.000em;
  bottom: -1.000em;
  z-index: 99;
  overflow: hidden;
  background: #e7e5e4;
  box-shadow: -2px -2px 15px 7px rgba(158, 158, 158, 0.82) inset; }

.elegantshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 1.500em;
  padding: 1.000em;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585; }

#back-to-top {
  position: fixed;
  bottom: 0.300em;
  right: 1.400em;
  width: 1.000em;
  height: 1.000em;
  z-index: 9999;
  vertical-align: middle;
  border: 0;
  border-radius: 0.500em;
  transition: opacity 0.2s ease-out;
  font-size: 3.000em;
  text-align: center;
  color: white;
  opacity: 0; }

#back-to-top:hover {
  background: black; }

#back-to-top.show {
  opacity: 0.85; }

.header__avatar {
  width: 6.000em;
  height: 6.000em;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3.000em;
  background-image: url("../img/img01.png");
  background-position: 50% 0; }
  .header__avatar:after {
    content: "Artem Tkachenko";
    position: absolute;
    top: 60%;
    left: 100%;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: 0.15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474; }

.header__nav {
  text-align: right; }

main {
  padding-top: 5.500em;
  padding-left: .500em;
  padding-right: .500em;
  padding-bottom: .500em; }

.elegantshadow--main {
  font-size: 8.000em;
  padding: 0 0 .300em; }

.aboutme {
  width: 100%;
  margin: 1.500em;
  padding: 0;
  font-size: 2.000em;
  text-align: left; }
  .aboutme__container {
    text-align: center; }

.contacts__link {
  color: navy;
  font-size: 1.200em;
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: none; }

.elegantshadow--contacts {
  display: block; }
